#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

::selection {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */     /* text color */
  background-color: transparent;
}

input {
  font-size: 1.2rem;
  text-align: center;
  outline: none;
  border: none;
  background-color: transparent;
  width: 1.5rem;
  padding: 0;
  line-height: 1.5rem;
  font-family: Arial, sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

p {
  line-height: 125%;
  font-family: Arial, sans-serif;
  margin: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
}

.no-space {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 1.2rem;
}

.reset-time {
  background-color: rgba(0,0,0,0);
  padding: 1px;
  transform: translateY(1px);
}

.left {
  text-align: left;
}

.timer-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.top-buttons {
  display: inline;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(0,0,0,0);
}

.settings-button {
  background-color: rgba(0,0,0,0);
  padding: 1px;
}